html,
body {
  padding: 0;
  margin: 0;
  font-family: SAOUI-Bold, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: SAOUI-Bold;
  src: url('/fonts/SAOUI-Bold.otf') format(opentype);
}
