.chartContainer {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
  background: #1e1e1e;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4caf50;
  text-align: center;
}

.categoryTitle {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4caf50;
}

.categorySection {
  margin-top: 20px;
}

.skillItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skillName {
  min-width: 100px;
}

.skillBar {
  flex: 1;
  height: 20px;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

.skillLevel {
  height: 100%;
  background-color: rgb(75 192 192 / 80%);
}

.skillPercentage {
  margin-left: 10px;
}

.skillDescription {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center; /* 中央に寄せる */
  white-space: pre-line; /* 改行をサポート */
}
